.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
.geany/**
.geany-orig/**
.git/**
**/*.ts
**/tsconfig.json
node_modules/**/test/**
node_modules**/**/test/**
resources/dark/**
resources/light/**
**/*.svg
media/**
notes.txt
