.gitignore

out/test/**
test/**
src/**
**/*.map
tsconfig.json
vsc-extension-quickstart.md

**/*.ts
**/*.svg
.geany/**
.geany-orig/**
.git/**
**/tsconfig.json

.vscode/**
.vscode-test/**

resources/dark/**
resources/light/**
media/**
notes.txt

XXnode_modules/**
node_modules**/**

node_modules/**/test/**
node_modules**/**/test/**


!file.ts